@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
*{
    font-family: Roboto;
    box-sizing: border-box;
}

:root{
    --bodyColor: rgb(20,20,20);
}

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyColor);
    color: white;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

.animationCont{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: transform 2s, scale 2s;
}

.card{
    flex: 1;
    background-color: white;
    transition: transform 1s;
}

.main{
    background-image: url("images/jr-korpa-9XngoIpxcEo-unsplash.jpg");
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: optimizeQuality;
    animation: mainGrow 2s;
    animation-delay: 3.9s;
    animation-fill-mode: forwards; 
}

.col{
    flex: 1;
    aspect-ratio: 1/3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.col:nth-child(even){
    transform: translateY(-100%);
}

.col:nth-child(odd){
    transform: translateY(100%);
}

.blur{
    animation: blur 0.5s forwards;
}

@keyframes mainGrow{
    0%{
        background-size: 200% auto;
        filter: blur(0);
    }
    100%{
        background-size: 120% auto;
        filter: blur(0.5px);
    }
}
