@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
*{
    font-family: Roboto;
    box-sizing: border-box;
}

:root{
    --bodyColor: rgb(20,20,20);
    --topLeadPos: 368%;
    --topNonLeadPos: 300%;
}

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyColor);
    color: white;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

.animationCont{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* scale: 10; */
    /* animation: mainGrow 4s;
    animation-delay: 2.2s; */
    transition: scale 4s;
}

.card{
    height: 200px;
    width: 350px;
    flex: 1;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: white;
    transition: transform 1s;
    /* transition: transform 1s cubic-bezier(.8,0,0.6,1); */
    /* animation: mainGrow 3s; */
    scale: 1;
}

.main{
    background-image: url("images/jr-korpa-9XngoIpxcEo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
}

.col{
    flex: 1;
    /* height: 120vh; */
    aspect-ratio: 1/3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.col:nth-child(even){
    transform: translateY(-100%);
}

.col:nth-child(odd){
    transform: translateY(100%);
}

/* .col.two{
    transform: translateY(-100%);
} */

/* .col.three{
    transform: translateY(-10%);
} */

/* .animationCont{
    animation-delay: 10s;
    animation: cardGrow 3s;
}

@keyframes cardGrow{
    to{
        height: 100vh;
        width: 100vw;
    }
} */

/* .main{
    animation: mainGrow 3s;
} */

@keyframes mainGrow{
    to{
        scale: 6;
    }
}